# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Next.js
.next
out
build
dist

# Production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.log
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
scripts/create-env-files.ps1

# Secrets directory
.secrets/

# Vercel
.vercel
.env.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# OS
Thumbs.db
.DS_Store

# Sentry
.sentryclirc

# Build artifacts
tsconfig.tsbuildinfo
