@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #ffd700;
  color: #000;
}
